#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  overflow-x: hidden;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  transition: background-color 2s ease, color 2s ease;
  font-size: 25px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  max-width: 100%;
}

input[type="text"], select {
  width: 300px; 
  padding: 10px; 
  font-size: 20px; 
  border-radius: 5px;
  border: 1px solid gray;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 100%;
  margin-bottom: 30px;
  gap: 40px;
}

.task-content {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  border: 1px solid gray;
}

.task-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end; 
  min-width: 150px; 
}

.task-date {
  color: lightgray;
  margin-left: auto; /* Pousse la date complètement à droite */
  white-space: nowrap; /* Empêche le retour à la ligne */
}

